@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

body.light {
    background-color: white;
    color: black;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  
  body.dark {
    background-color: black;
    color: white;
    transition: background-color 0.3s ease, color 0.3s ease;
  }
  

/* bg-[#edf1f4] */

.box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s all;
    text-align: center;
}





.box:hover {
    background-color: #0DB760;
}

.box:hover .fa {
    color: white;
}

.box:hover h3 {
    color: white;
}

.box:hover h2 {
    color: white;
}

.icon {
    border-radius: 20px;
    border-bottom-right-radius: 0;
}

.about-title::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 7%;
    color: #0DB760;
    background-color: #0DB760;
    bottom: -25px;
    left: 46.5%;
    border-radius: 20px;
}

.contact-title::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 7%;
    color: #0DB760;
    background-color: #0DB760;
    bottom: -25px;
    left: 46.5%;
    border-radius: 20px;
}


.services-title::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 10%;
    color: #0DB760;
    background-color: #0DB760;
    bottom: -25px;
    left: 45.5%;
    border-radius: 20px;
}

.skills-title::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 6%;
    color: #0DB760;
    background-color: #0DB760;
    bottom: -25px;
    left: 47%;
    border-radius: 20px;
}

.projects-title::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 7%;
    color: #0DB760;
    background-color: #0DB760;
    bottom: -25px;
    left: 46.5%;
    border-radius: 20px;
}

.active {
    color: #0DB760;
}

input {
    border: 1px solid #BEC0BF;
    width: 50%;
    border-radius: 5px;
    padding: 8px 17px;
    height: 48px;
}

input::placeholder {
    color: #BEC0BF;
}

textarea {
    border: 1px solid #BEC0BF;
    width: 100%;
    padding: 15px 17px;
    border-radius: 5px;
}

::placeholder {
    font-size: 14px;
}

textarea::placeholder {
    color: #BEC0BF ;
}


/* [url('../images/bg-2.jpg')] */