

html {
    scroll-behavior: smooth;
    width: 100%;
    height: 100vh;
}

body {
    @apply text-black font-semibold bg-cover bg-no-repeat bg-center overflow-x-hidden w-full h-screen
}

.box {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    transition: 0.3s all;
    text-align: center;
}


.box:hover {
    background-color: #0DB760;
}

.box:hover .fa {
    color: white;
}

.box:hover h3 {
    color: white;
}

.box:hover h2 {
    color: white;
}

.icon {
    border-radius: 20px;
    border-bottom-right-radius: 0;
}


.services-title::after {
    content: '';
    position: absolute;
    height: 4px;
    width: 10%;
    color: #0DB760;
    background-color: #0DB760;
    bottom: -25px;
    left: 45.5%;
    border-radius: 20px;
}



/* [url('../images/bg-2.jpg')] */